kagglehub==0.3.13
pandas==2.3.3
scikit-learn==1.6.1
seaborn==0.13.2
matplotlib==3.9.4
plotly==6.3.1
nbformat==5.10.4
numpy==2.1.0
ydata-profiling==4.17.0
jupyter-contrib-nbextensions==0.7.0
kneed==0.8.5